###############################################################################
### DX-MsgBroker: Kafka configuration
###############################################################################

#######################################
### golbal configuration
#######################################
[msgbroker]
global_test=1  ###test config


#######################################
### kafka client configuration
#######################################
[kafka]
### for frame data
message.max.bytes=10485760


### for secure transmission
#security.protocol=ssl
## CA certificate file for verifying the broker's certificate.
#ssl.ca.location=<path to CA certificate file>

## Client's certificate
#ssl.certificate.location=<path to client certificate file>

## Client's key
#ssl.key.location=<path to client key file>

## Key password, if any
#ssl.key.password=KEY_PASSWORD
